:root {
	font-size: 16px;

	--bg: #f3f5fb;
	--chat-bg: #ffffff;
	--primary: #4a6cff;
	--user-msg: #4a6cff;
	--other-msg: #e9ecf5;
}

/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: system-ui, sans-serif;
}

/* Chat container */

.chat {
	width: clamp(20rem, 90vw, 40rem);
	height: clamp(30rem, 90vh, 50rem);

	background: var(--chat-bg);
	border-radius: 1rem;

	display: flex;
	flex-direction: column;

	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/* Header */

.chat-header {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 600;
	color: white;
	background: var(--primary);
}

.chat-header button {
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 600;
	color: white;
	padding: 0.4rem 0.6rem;
	background: hsl(from var(--primary) h calc(s + 1) calc(l - 10));
	box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0.4rem;
	cursor: pointer;
}

/* Messages */

.chat-messages {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	gap: 0.8rem;
	padding: 1rem;

	overflow-y: auto;
}

/* Message row */

.message-row {
	display: flex;
	gap: 0.6rem;
	align-items: flex-end;
}

.message-row.user {
	flex-direction: row-reverse;
}

.message-row.system {
	justify-content: center;
}
/* Avatar */

.avatar {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	object-fit: cover;
	border: solid 2px var(--primary);
	padding: 0.2rem;
}

/* Bubble */

.message {
	max-width: 70%;
	padding: 0.6rem 0.9rem;

	font-size: clamp(0.8rem, 1vw, 1rem);
	line-height: 1.4;

	border-radius: 1rem;
}

/* other */

.other .message {
	background: var(--other-msg);
}

/* User */

.user .message {
	background: var(--user-msg);
	color: white;
}

/* Input */

.chat-input {
	display: flex;
	border-top: 1px solid #ddd;
}

.chat-input input {
	flex: 1;
	padding: 0.8rem;
	font-size: 1rem;
	border: none;
	outline: none;
}

.chat-input button {
	padding: 0.8rem 1.2rem;
	font-size: 1rem;
	border: none;
	background: var(--primary);
	color: white;
	cursor: pointer;
}

.chat-input button:hover {
	opacity: 0.9;
}

/* Mobile */

@media (max-width: 600px) {
	.chat {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
}
